//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title=`${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
        
    body    
        h1 Bikes
        .cards 
            each bike in data
                .card 
                    h2.card__name #{bike.properties.bike_name}
                    p.card__email #{bike.properties.model}
                    p.card__email #{bike.properties.country_of_manufacture}
                    p.card__email #{bike.properties.name}