doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Clicks
        .cards 
            each click in data
                .card 
                    h2.card__name #{contact.properties.url}  #{contact.properties.name}
                    p.card__when #{contact.properties.when}
                    p.card__ua #{contact.properties.ua}