doctype html
html
  head
    title= title
    style.
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

      body, * {
          font-family: 'Roboto', sans-serif;
          margin: 0;
          padding: 0;
      }

      h1 {
          margin: 1rem;
      }

      table {
        margin: 2rem;
        width: 100%;
        border-collapse: collapse;
      }

      th, td {
        padding: 1rem;
        border: 1px solid lightgrey;
      }
  body
    h1= title
    p
      a(href='/') Return to the homepage
    table
      thead
        tr
          th FirstName
          th LastName
          th Email
      tbody
        each customObject in customObjects
          tr
            td= customObject.properties.firstname
            td= customObject.properties.lastname
            td= customObject.properties.email
    a(href='/update-cobj') Add/Update this table
