doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        a(href='/update-cobj') Add/Update this table
        br
        br
        table
          thead 
            th SO #
            th Customer Name 
            th Grand Total 
            th Estimated Ship Date
          tbody
            each order in data
              tr 
                td #{order.properties.so}
                td #{order.properties.name}
                td #{order.properties.grand_total}
                td #{order.properties.estimated_ship_date}