//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Companies
        
        a(href="/update-cobj") Add/Update this table
        
        table 
            tr
                th Name
                th Domain
                th Industry
                th Phone
            each company in data
                tr 
                    td #{company.properties.name}
                    td #{company.properties.domain}
                    td #{company.properties.industry}
                    td #{company.properties.phone}
                    

