//** This is a pug template to homepage custom object form.

doctype html
html 
    head 
        title= 'Custom Object Table | Integrating With HubSpot I Practicum'
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
     .title2
       h2 Custom Object Table
     div#alink
      a(href=baseURI) Add/Update the Anime
     div#table-center
      table
        tr 
          th Name
          th Ability
          th Village
        tr
         each anime in data
          tr
            td #{anime.properties.name}
            td #{anime.properties.ability}
            td #{anime.properties.village}
          tr
