html
  head
    title Homepage
    style.
      table {
        width: 50%;
        display:flex;
        align-items:center;
      }
      
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
      }
      
      th {
        background-color: #eb8d8d;
      }
  body
    h1 Custom Object Table
    a(href="/update-cobj") Add/Update this table
    table
      tr
        th NAME
        th DESCRIPTION
        th PRICE
      each contact in data
        tr
          td= contact.properties.name
          td= contact.properties.description
          td= contact.properties.price

 

//- html 
//-     head 
//-         title= `${title}`
//-         meta(name="viewport" content="width=device-width, initial-scale=1")
//-         link(rel="stylesheet", href="/css/style.css")
//-     body    
//-         h1 Contacts
//-         .cards 
//-             each contact in data
//-                 .card 
//-                     h2.card__name #{contact.properties.firstname}  #{contact.properties.lastname}
//-                     p.card__email #{contact.properties.email}