doctype html
html
  head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
  body
    h1 Pets
    .center
        a(href='/update-cobj/?mode=Create') Add Pet
    table
      thead
        tr
          th Pet's Name
          th Pet's Type
          th Pet's Age
          th Edit Pet
      tbody
        each pet in data
          tr
            td #{pet.properties.name}            
            td #{pet.properties.pet_type}
            td #{pet.properties.pet_age}
            td 
                a(href=`/update-cobj/?mode=Edit&id=${pet.id}`) Edit Me!
                