doctype html
html(lang="en")
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")

    body
        h1 Bikes
        .back-link 
            a(class="button" href="/create") Add New Bike

        //- .cards 
        //-     each bike in data
        //-         .card 
        //-             h2.card__name #{bike.properties.bike_name}
        //-             p.card__email Model: #{bike.properties.model}
        //-             p.card__email Country of Manufacture: #{bike.properties.country_of_manufacture}

        table 
            thead
                tr
                    th Bike Name
                    th Model
                    th Country of Manufacture
                    th Owner
                    th Edit
                tbody 
                    each bike in data 
                        tr
                            td 
                                p.card__name #{bike.properties.bike_name}
                            td 
                                p.card__model #{bike.properties.model}
                            td 
                                p.card__country #{bike.properties.country_of_manufacture}
                            td 
                                p.card__owner #{bike.properties.name}
                            td 
                                a(class="edit-link" href="/updates?id=" + `${bike.id}`) Edit #{bike.properties.bike_name}