//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
       h1= `${title}`
       <table>
         each pet in data
            <tr>
                <td>
                  h3.pet__name  #{pet.properties.pet_name}
                <td> 
                  p.pet__type   #{pet.properties.pet_type__v2_}
                <td> 
                  p.pet_gender   #{pet.properties.pet_gender}  