
doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Succession Characters
        .cards 
            each characters in data
                .card 
                    h2.card__name #{characters.properties.name}  
                    p.card_age #{characters.properties.age}
                    p.card__description #{characters.properties.description}
        - var currentUrl = '/'
            h2
                a(class={active: currentUrl === '/updates'} href='/updates') Add/Update this table
        table
            thead
                tr
                    th Name
                    th Age
                    th Description
            tbody
                each characters in data
                    tr
                        td= characters.properties.name
                        td= characters.properties.age
                        td= characters.properties.description