doctype html 
html(lang="en")
    head 
        title=`${title}`
        link(rel="stylesheet", href="/css/style.css")

    body 
        .back-link 
            a(class="button" href="/homepage") Return to the homepage

        .form-wrapper 
            p Name: #{userFirstname} #{userLastname}
            p Email: #{userEmail}
            p Bike: #{bikeName}
            form(method="POST")
                label(for=newVal) New Bike
                input(type="text" name="newVal" required)
                input(type="submit" value="Submit")